<div class="background">
  <div class="login-box">
      <h1>Iniciar Sesión</h1>
      <p>Panel administrativo de Hardware Smash<p>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username"></label>
        <input type="text" placeholder="Usuario Administrativo">
        <!-- PASSWORD INPUT -->
        <label for="password"></label>
        <input type="password" placeholder="Contraseña">
        <input type="submit" value="Iniciar Sesión" link re>
        <img src="https://i.postimg.cc/Z5d50gMY/Logos.png" alt="logos">
      </form>
  </div>
</div>
